body{
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:15px;
    position: sticky;
    top: 0;
    z-index: 100;

  }
.nike{
    width:50px;
    height:50px;
    mix-blend-mode: color-dodge;
}
.option{
    display: flex;
    justify-content:space-around;
    gap:20px;
}
.btn1{
    background-color: red;
    border: none;
    padding:4px;
}
.page1{
    /* background-color: antiquewhite; */
    height: 100%;
    position: relative;
}
.main1{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
    gap:40px;
}
.left{
    margin-left: 50px;
     width: 80%;
}
.head_m{
    font-size:3.6rem;
    font-weight: 800;
    margin-bottom:3px;
    margin-top: 4px;
}
.btns_l{
    display: flex;
    gap:10px;
    border: none;
    border-radius: 5px;
}
.k{
    background-color: #b41f1f;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.icon{
    display: flex;
    gap:10px;
}
.l{
    width:30px;
    height: 20px;
}
@media only screen and (max-width: 768px) {
    .main1 {
        grid-template-columns: 1fr; /* Change to a single column on smaller screens */
    }

    .left {
        margin-left: 0;
        width: 100%;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .option {
        flex-direction: column;
        gap: 10px;
    }
}
